Deck successfully imported from AnkiHub!<br>
<br>
The imported notes are in the deck<br>
<b>{{deck_name}}</b>.<br>
<br>
Added {{import_result.created_nids|length}} note(s).<br>
Updated {{import_result.updated_nids|length}} note(s).<br>
Skipped {{import_result.skipped_nids|length}} note(s).<br>

{% if import_result.skipped_nids %}
<br>
Notes with the same ID as notes in another AnkiHub deck you have installed were skipped.<be>
If you have any questions about this, see <a href='https://community.ankihub.net/t/draft-why-are-notes-skipped-after-subscribing-to-a-deck/934'>this forum topic</a> for details.
{% endif %}
