<style>
    .sentry-error-embed {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        margin: 0 !important;
        box-sizing: border-box;
    }

    .sentry-error-embed header p {
        white-space: pre-wrap;
    }
</style>

<script src="/_addons/{{addon_package}}/gui/web/sentry.min.js"></script>
<script>
    document.addEventListener("click", (ev) => {
        const el = ev.target;
        if (el.classList.contains("close")) {
            pycmd("close");
        }
    });
</script>
