{% include 'error.html' %}

<script>
  Sentry.init({
    dsn: "https://715325d30fa44ecd939d12edda720f91@o1184291.ingest.sentry.io/6546414",
  });
  Sentry.showReportDialog({
    eventId: "{{ event_id }}",
    title: "😬 Uh oh! Something went wrong.",
    subtitle: [
      "Please use the form the below form to file a report to help us find the cause of the problem.\n\n",
      "This error will be automatically reported. You can disable automatic error",
      "reporting in the AnkiHub add-on settings.",
    ].join(" "),
  });
</script>
