<style>
  .sentry-error-embed {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    box-sizing: border-box;
  }

  .sentry-error-embed header p {
    white-space: pre-wrap;
  }
</style>

<script src="/_addons/{{addon_package}}/gui/web/sentry.min.js"></script>
<script>
  document.addEventListener("click", (ev) => {
    const el = ev.target;
    if (el.classList.contains("close")) {
      pycmd("close");
    }
  });
</script>

<script>
  Sentry.init({
    dsn: "https://715325d30fa44ecd939d12edda720f91@o1184291.ingest.sentry.io/6546414",
  });
  Sentry.showReportDialog({
    eventId: "{{ event_id }}",
    title: "😬 Uh oh! There was a problem with your request.",
    subtitle: [
      "If you haven't already signed in using the AnkiHub menu please do so. Make sure",
      "your username and password are correct and that you have confirmed your AnkiHub",
      "account through email verification. If you believe this is an error, please use",
      "the below form to file a report.\n\n",
      "This error will be automatically reported. You can disable automatic error",
      "reporting in the AnkiHub add-on settings.",
    ].join(" "),
  });
</script>
