#certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
mega.py==1.0.8
#pathlib==1.0.1
pbr==5.6.0
#pycryptodome==3.10.1 # This is platform dependant, so need to be bundled separately.
python-utils==2.5.6
#requests==2.26.0
#six==1.16.0
tenacity==5.1.5
testresources==2.0.1
#urllib3==1.26.6
