[submodule "media_import"]
	path = media_import
	url = https://github.com/ankipalace/anki-media-import.git
[submodule "media_export"]
	path = media_export
	url = https://github.com/RisingOrange/anki-media-exporter.git
[submodule "ankihub/gui/ankiaddonconfig"]
	path = ankihub/gui/ankiaddonconfig
	url = https://github.com/RisingOrange/ankiaddonconfig.git
[submodule "ankihub_web"]
	path = ankihub_web
	url = https://github.com/AnkiHubSoftware/ankihub
	branch = dev
