exclude: "lib|media_import|ankiaddonconfig"
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.4
      hooks:
        - id: ruff-check
          args: [ --fix ]
        - id: ruff-format

    - repo: local
      hooks:
          - id: no_absolute_imports_from_ankihub
            name: no_absolute_imports_from_ankihub
            types: [python]
            exclude: ^tests/
            entry: "from ankihub([.]| import )"
            language: pygrep

          - id: no_anki_aqt_imports_in_client
            name: no anki/aqt imports in ankihub_client
            types: [python]
            files: ^ankihub/ankihub_client/
            entry: "^(from (anki|aqt)[ .]|import (anki|aqt))"
            language: pygrep
