.ah-spotlight-active {
    position: relative;
    z-index: 10001 !important;
    backdrop-filter: brightness(2);

    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.night_mode .ah-spotlight-active {
    background-color: #1f2937;
}
