html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#target {
    outline: 4px solid #ef4444;
    position: absolute;
}
