html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#target {
    position: absolute;
}

#target.ah-outline {
    outline: 4px solid #4F39F6;
}
