name: Upload to S3

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      WORKFLOW_GIT_ACCESS_TOKEN:
        required: true
      GOOGLE_API_KEY:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

jobs:
  upload_to_s3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.WORKFLOW_GIT_ACCESS_TOKEN }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install deps
        run: |
          uv sync --locked --dev --group aqt

      - name: Create ankiaddon file
        run: |
          bash ./scripts/release.sh
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Upload file to S3
        run: aws s3 cp ankihub.ankiaddon s3://ankiaddons/ankihub/ankihub_latest.ankiaddon
